openapi: "3.0.3"
info:
  title: Capacium Exchange API
  description: |
    V2 Exchange API for listing discovery, taxonomy, trust, and crawler management.
    Extends the V1 Registry Protocol with Exchange/Marketplace capabilities.
  version: "2.0.0"
  contact:
    name: Capacium Project
    url: https://github.com/Capacium/capacium

servers:
  - url: https://registry.capacium.dev/v2
    description: Production exchange
  - url: http://localhost:8000/v2
    description: Local development

paths:
  /health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  version:
                    type: string
                    example: "2.0.0"

  /listings:
    get:
      summary: Search or list exchange listings
      operationId: searchListings
      parameters:
        - name: q
          in: query
          description: Text search query
          schema:
            type: string
        - name: type
          in: query
          description: Filter by package type
          schema:
            type: string
            enum: [skill, bundle, tool, prompt, template, workflow, mcp-server, connector-pack]
        - name: category
          in: query
          description: Filter by primary category slug
          schema:
            type: string
        - name: trust
          in: query
          description: Filter by exact trust state
          schema:
            type: string
            enum: [discovered, indexed, claimed, verified, audited]
        - name: min_trust
          in: query
          description: Filter by minimum trust state
          schema:
            type: string
            enum: [discovered, indexed, claimed, verified, audited]
        - name: tag
          in: query
          description: Filter by tag (repeatable)
          schema:
            type: array
            items:
              type: string
        - name: mcp_client
          in: query
          description: Filter by MCP client compatibility
          schema:
            type: string
        - name: publisher
          in: query
          description: Filter by publisher ID
          schema:
            type: string
        - name: sort
          in: query
          description: Sort order
          schema:
            type: string
            enum: [relevance, name, trust, updated]
            default: relevance
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  count:
                    type: integer
                  listings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Listing"

  /listings/{id}:
    get:
      summary: Get listing by ID
      operationId: getListing
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Listing detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
        "404":
          description: Not found

  /categories:
    get:
      summary: List all categories with subcategories
      operationId: listCategories
      responses:
        "200":
          description: Category list
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/Category"

  /tags:
    get:
      summary: List popular tags
      operationId: listTags
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Tag list
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: "#/components/schemas/TagCount"

  /publishers:
    get:
      summary: List all publishers
      operationId: listPublishers
      responses:
        "200":
          description: Publisher list
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Publisher"

  /publishers/{id}:
    get:
      summary: Get publisher by ID
      operationId: getPublisher
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Publisher detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Publisher"
        "404":
          description: Not found

  /claims:
    post:
      summary: Submit a claim request
      operationId: submitClaim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listing_id, publisher_id]
              properties:
                listing_id:
                  type: string
                publisher_id:
                  type: string
                proof_type:
                  type: string
                  enum: [repo-file, domain-dns, github-org]
                  default: repo-file
      responses:
        "201":
          description: Claim submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimRequest"
        "400":
          description: Invalid request

  /crawl/sources:
    get:
      summary: List configured crawl sources
      operationId: listCrawlSources
      responses:
        "200":
          description: Source list
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrawlSource"

  /crawl/jobs:
    get:
      summary: List recent crawl jobs
      operationId: listCrawlJobs
      responses:
        "200":
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrawlJob"

components:
  schemas:
    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
        canonical_name:
          type: string
        package_type:
          type: string
          enum: [skill, bundle, tool, prompt, template, workflow, mcp-server, connector-pack]
        canonical_source_url:
          type: string
          format: uri
        short_description:
          type: string
        trust_state:
          type: string
          enum: [discovered, indexed, claimed, verified, audited]
        primary_category:
          type: string
        subcategory:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
        publisher_id:
          type: string
          nullable: true
        license:
          type: string
          nullable: true
        maturity:
          type: string
          enum: [experimental, beta, stable, deprecated]
        mcp_metadata:
          $ref: "#/components/schemas/MCPMetadata"
          nullable: true
        discovered_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MCPMetadata:
      type: object
      properties:
        transport:
          type: string
          enum: [stdio, sse, streamable-http]
        supported_clients:
          type: array
          items:
            type: string
        runtime:
          type: string
          nullable: true
        hosted:
          type: boolean
        auth_model:
          type: string
          nullable: true
        required_env_vars:
          type: array
          items:
            type: string
        permission_scopes:
          type: array
          items:
            type: string
        health_endpoint:
          type: string
          nullable: true
        setup_command:
          type: string
          nullable: true
        documentation_url:
          type: string
          format: uri
          nullable: true

    Category:
      type: object
      properties:
        slug:
          type: string
        display_name:
          type: string
        description:
          type: string
        sort_order:
          type: integer
        subcategories:
          type: array
          items:
            $ref: "#/components/schemas/Subcategory"

    Subcategory:
      type: object
      properties:
        slug:
          type: string
        category_slug:
          type: string
        display_name:
          type: string
        sort_order:
          type: integer

    TagCount:
      type: object
      properties:
        tag:
          type: string
        count:
          type: integer

    Publisher:
      type: object
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
        slug:
          type: string
        verified:
          type: boolean
        verified_at:
          type: string
          format: date-time
          nullable: true
        contact_url:
          type: string
          format: uri
          nullable: true

    ClaimRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        listing_id:
          type: string
        publisher_id:
          type: string
        proof_type:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected]
        submitted_at:
          type: string
          format: date-time

    CrawlSource:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        source_type:
          type: string
        url:
          type: string
          format: uri
        enabled:
          type: boolean
        last_crawled_at:
          type: string
          format: date-time
          nullable: true

    CrawlJob:
      type: object
      properties:
        id:
          type: string
          format: uuid
        source_id:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        findings_count:
          type: integer
        new_listings_count:
          type: integer
        duplicates_skipped:
          type: integer
