openapi: "3.0.3"
info:
  title: Capacium Remote Registry Protocol
  description: |
    Remote registry API for discovering, querying, and publishing capabilities.
    Compatible with the Capacium Capability Packaging System.
  version: "1.0.0"
  contact:
    name: Capacium Project
    url: https://github.com/Capacium/capacium

servers:
  - url: https://registry.capacium.dev/v1
    description: Production registry
  - url: http://localhost:8000/v1
    description: Local development registry

paths:
  /health:
    get:
      summary: Registry health check
      operationId: healthCheck
      tags:
        - meta
      responses:
        "200":
          description: Registry is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: "1.0.0"

  /capabilities:
    get:
      summary: List or search capabilities
      operationId: listCapabilities
      tags:
        - capabilities
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          description: Search term to filter capabilities by name, owner, or description
          schema:
            type: string
        - name: kind
          in: query
          description: Filter by capability kind
          schema:
            type: string
            enum: [skill, bundle, tool, prompt, template, workflow]
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilityListResponse"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized — missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Publish a new capability
      operationId: publishCapability
      tags:
        - capabilities
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                manifest:
                  type: string
                  description: JSON string of the capability manifest
                archive:
                  type: string
                  format: binary
                  description: The capability archive (.tar.gz)
              required:
                - manifest
                - archive
      responses:
        "201":
          description: Capability published successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilityResponse"
        "400":
          description: Invalid manifest or archive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized — missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /capabilities/{name}:
    get:
      summary: Get capability details
      operationId: getCapability
      tags:
        - capabilities
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          description: Capability name (owner/name format)
          schema:
            type: string
            example: "capacium/web-fetcher"
      responses:
        "200":
          description: Capability details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilityResponse"
        "401":
          description: Unauthorized — missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Capability not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /capabilities/{name}/versions:
    get:
      summary: List all versions of a capability
      operationId: listVersions
      tags:
        - capabilities
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          description: Capability name (owner/name format)
          schema:
            type: string
            example: "capacium/web-fetcher"
      responses:
        "200":
          description: List of versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  versions:
                    type: array
                    items:
                      $ref: "#/components/schemas/VersionResponse"
        "401":
          description: Unauthorized — missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Capability not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /capabilities/{name}/download:
    get:
      summary: Download a capability archive
      operationId: downloadCapability
      tags:
        - capabilities
      security:
        - bearerAuth: []
      parameters:
        - name: name
          in: path
          required: true
          description: Capability name (owner/name format)
          schema:
            type: string
            example: "capacium/web-fetcher"
        - name: version
          in: query
          required: true
          description: Version to download
          schema:
            type: string
            example: "1.2.0"
      responses:
        "200":
          description: Capability archive binary
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          description: Unauthorized — missing or invalid token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Capability or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token for API authentication

  schemas:
    CapabilityResponse:
      type: object
      properties:
        name:
          type: string
          example: "web-fetcher"
        owner:
          type: string
          example: "capacium"
        version:
          type: string
          example: "1.2.0"
        kind:
          type: string
          enum: [skill, bundle, tool, prompt, template, workflow]
          example: "skill"
        description:
          type: string
          example: "Fetches web pages and returns their markdown content"
        fingerprint:
          type: string
          example: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0"
        dependencies:
          type: object
          additionalProperties:
            type: string
          example: {"requests": "^2.28.0"}
        frameworks:
          type: array
          items:
            type: string
          example: ["opencode"]
        published_at:
          type: string
          format: date-time
          example: "2025-06-01T12:00:00Z"

    VersionResponse:
      type: object
      properties:
        version:
          type: string
          example: "1.2.0"
        published_at:
          type: string
          format: date-time
          example: "2025-06-01T12:00:00Z"
        fingerprint:
          type: string
          example: "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0"

    CapabilityListResponse:
      type: object
      properties:
        count:
          type: integer
          example: 2
        results:
          type: array
          items:
            $ref: "#/components/schemas/CapabilityResponse"

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "Not found"
        code:
          type: integer
          example: 404
        message:
          type: string
          example: "Capability capacium/web-fetcher not found"
